<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link href="/tabulator/css/materialize/tabulator_materialize.min.css" rel="stylesheet" /> -->
    <link href="/tabulator/css/tabulator_simple.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large orange">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li>
          <a href="#" class="btn-floating green"><i class="material-icons">share</i>Share</a>
        </li>
        <li>
          <a href="/recipes/" class="btn-floating blue"><i class="material-icons">exit_to_app</i>Back</a>
        </li>
        <li>
          <a id="add-new-table" href="#" class="btn-floating red"><i class="material-icons">add</i>Add</a>
        </li>
      </ul>
    </div>
    
      <div>
        <div clss="col s12 z">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">filter_drama</i><%= recipe.name %> 
              </div>
              <div class="collapsible-body">
              <form>
                <div class="row">
                  <div class="input-field col">
                    <input name="name" id="name" type="text" value= "<%= recipe.name %>">
                    <label for="name">Name: </label>
                  </div>
                  <div class="switch col">
                    <label>
                      Imperial
                      <input  class="right" type="checkbox" checked>
                      <span class="lever"></span>
                      Metric
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input name="description" id="description" type="text" value= "<%= recipe.description %>">
                    <label for="description">Description: </label>
                  </div>
                </div>
                <div class="row">
                  <div class="right">
                  <button type="submit" class="btn-flat waves-effect waves-orange">Update</button>
                  
                  </div>
                </div>
              </form>
            </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">

          <div id="example"></div>  
        <div class="col s12">
          <button id="add-row-btn" class="btn red waves-effect waves-light"><i class="material-icons">add</i></button>
          <button id="sort-btn" class="btn yellow waves-effect waves-light"><i class="material-icons">sort</i></button>
          <button id="toggle-bp" class="btn orange darken-3 waves-effect waves-light">Weight</button>
          
        </div>
      </div>
      </div>
      
        
    </div>
    <script type="text/javascript" src="/tabulator/js/tabulator.js"></script>
    <script src="/javascripts/recipes/edit.js"></script>
    <%- include('../partials/foot') %>
  </body>
</html>
